* {
  color: black;
  text-decoration: none;
  box-sizing: border-box;
}
.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    padding: 30px 80px 40px;
    position: relative;
    background-color: #ffffff;
    background-image: url("../images/background_header.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    width: 105px;
    height: 39px;
    position: relative;
    left: -50px;

}

.nav__links {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav__link {
    font-weight: 500;
}

.header__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    max-width: 729px;
    margin: 183px 0 28px;
    z-index: 1;
}

.header__span-accent {
    display: block;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    color:#2F80ED;
}

.header__description {
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin: 0;
    z-index: 1;

}

.header__image {
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;
}

.header__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 60px;
    z-index: 1;
}
.header__paragraph {
    font-weight: 500;
    color:#838383;
    margin: 0;
}
.header__paragraph:last-of-type {
    margin-top: auto;
}

.recipes {
    background-color: #0a2750;
    background-image: url("../images/background_recipes.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 80px 215px;
}

.recipes__title {
    color: #ffffff;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 0 0 24px;

}

.recipes__subtitle {
    color: #ffffff;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
    max-width: 438px;
    margin: 0 0 80px;

}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.recipes__iframe {
    border: none;
}

.recipes__videocapture {
    margin: 24px 0 0;
    display: flex;
    justify-content: space-between;
}

.recipes__videocapture-text {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.reservation {
    background-color: #D9E7FF;
    background-image: url("../images/background_reservation.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.reservation__title {
    display: block;
    margin: 0 auto 80px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reservation__form {
    max-width: 385px;
}

.form__fieldset {
    padding: 0;
    border: none;
    margin: 0;
}

.form__label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.form__label_type_checkbox {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 0;
}

.form__input {
    border-radius: 4px;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 30px;
    height: 60px;
    padding: 0;
    width: 100%;
}

.form__button {
    padding: 0;
    border-radius: 4px;
    height: 60px;
    font-weight: 500;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    background-color: #2F80ED;
    color: #ffffff;
    margin-bottom: 32px;
}

.form__button:hover {
    opacity: 0.7;
}

.form__checkbox {
    
    width: 20px;
    height: 20px;
    border-radius: 2px;
    
}
.form__checkbox:checked {
    appearance: none;
    background-color: #2F80ED;
    background-image: url("../images/check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}